.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    background-color: var(--tg-theme-bg-color);
    height:  calc(100vh - 40px);
    width: calc(100vw - 40px);
    border-radius: 8px;
  
  }
  .name {
    text-align: center;
  }
  .desc {
    text-align: center;
    color: var(--tg-theme-hint-color);
  }
